.container {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  max-height: 330px;
  width: 100%;

  background: var(--white);
  margin: auto;
  padding: 30px;
  margin-top: 5rem;
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-top: 20px;
}

.form div.group {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
}
div.group label {
  font-weight: 500;
  font-size: 16px;
}
div.group input {
  height: 30px;
  padding: 5px;
  font-size: 18px;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: var(--title);
}

/* BUTTON LOGIN */

button.default {
  height: 2.5rem;

  width: 100%;
  border: 0;
  border-radius: 0.1rem;
  color: var(--background);
  background: var(--primary);

  margin: 0 auto;
  padding: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;

  transition: background-color 0.2s ease-in;
}

button.default:hover,
button.default:active,
button.default:focus {
  background: var(--blue);
}

/* screen adaptation */

@media (max-width: 300px) {
  .form div.group input {
    width: 100%;
  }

  button.default {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  div.container {
    margin-top: auto;
  }
}
